body {
  background-image: url(https://wallpapers.com/images/featured/caffetteria-02x9a49rdcr5c18i.jpg);
  background-repeat: no-repeat;
}

.menu {
  background-color: rgb(246, 221, 191);
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 10px;
}

.coffee,
.sweets,
.bibite {
  display: inline-block;
  vertical-align: top;
  width: 250px;
}
